* {box-sizing: border-box;}
html {
    height: 100%;
}
body {
    min-height: 100%;
    color: #222;
    line-height: 1.5;
    background: #eee;
}

.header {
    height: 500px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #345;
    /* https://css-tricks.com/perfect-full-page-background-image/ */
    background: url(../img/header.jpeg) no-repeat center center fixed;
    background-size: cover;

    margin-bottom: 10px;
}

.header h1 {
    max-width: 50%;
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    font-size: 4em;
    font-weight: 200;
    font-family: cursive;
}

.post-list {
    margin: 0 auto;
}

.post-list-item {
    overflow:auto;
    margin: 10px auto;
    width: 50%;
    box-shadow: 1px 1px 5px rgba(49, 21, 4, 0.4);
    min-height: 140px;
    padding: 20px 20px;
}

.post-list-item-header {
    padding: 0 0 10px 10px;
    font-weight: 200;
    font-size: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    margin-top: 10px;
}
.post-list-item-body {
    padding: 0 10px;
}
.post-list-item-media img {
    width: 100%
}

.post-load-btn {
    margin: 0 auto;
    display: block;
    cursor: pointer;
    width: 50%;
    font-size: 2em;
    background: #3C3C3C;
    color: #fff;
    border: none;
    box-shadow: 1px 1px 5px rgba(49, 21, 4, 0.4);
}
.post-load-btn:hover {
    background-color: #555;
}